# ========================================
# DÉPENDANCES
# ========================================
node_modules/

# ========================================
# VARIABLES D'ENVIRONNEMENT
# ========================================
.env

# ========================================
# FICHIERS DE LOG & RAPPORTS
# ========================================
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================================
# RÉSULTATS DE TESTS
# ========================================
results/allure-results/
results/allure-report/
allure-results/
allure-report/
screenshots/
errorShots/
test-results/
reports/
results/

# ========================================
# FICHIERS TEMPORAIRES 
# ========================================
*.tmp
*.temp
.DS_Store
Thumbs.db

# ========================================
# IDE / ÉDITEURS - IDE / Editors
# ========================================
.vscode/
.idea/
*.swp
*.swo
*~


# ========================================
# FICHIERS DE BUILD - Build Files
# ========================================
dist/
build/
*.tsbuildinfo


# ========================================
# SCREENSHOTS / VIDEO README
# ========================================
capture_readme/

# en cours de rédaction
README.md